.header {
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: auto;
  height: 36px;
  max-width: 100%;
}

.header__nav {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.header__nav-link {
  color: #000000;
  line-height: 1.2;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.header__nav-link:hover {
  background-color: #9679d91a;
  text-decoration: none;
}

.header__nav-link_active {
  opacity: 100%;
  background-color: #9679d933;
}

.header__menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1200px) {
  .header {
    justify-content: flex-start;
    gap: 12px;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }

  .header__menu-btn {
    display: block;
  }

  /* Nav is hidden by default on mobile */
  .header__nav {
    position: fixed;
    top: 47px;
    bottom: 0;
    left: 0;
    width: 75%;
    max-width: 255px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 101;
    display: none;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    background-color: #fff;
    justify-content: end;
    padding-bottom: 77px;
    gap: 7px;
  }

  /* Shown when the menu is open */
  .header__nav_mobile {
    display: flex;
  }
}
