.header {
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: auto;
  height: 36px;
  max-width: 100%;
}

.header__nav {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.header__nav-link {
  color: #000000;
  line-height: 1.2;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.header__nav-link:hover {
  background-color: #9679d91a;
  text-decoration: none;
}

.header__nav-link_active {
  opacity: 100%;
  background-color: #9679d933;
}
